
# Virtual environment
venv/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

# IDE files
.vscode/
.idea/
*.iml
*.pyc

# Environment variables
.env

# Database
# your_database_name
# e.g. friends.db


# Compiled Python files
*.pyc

# Dependency directories
node_modules/
/dist/
